{% extends 'concrete/layout.html' %}
{% block title %}Inregistrare utilizator{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />


<div class="register-form">
    <h1>User Registration</h1>

    <form action="" method="post" class="form-control">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Submit Registration</button>
    </form>
</div>
{% endblock content %}