{% extends 'concrete/layout.html' %}

{% block title %}
    Concrete Homepage
{% endblock title %}

{% block content %}

    <h1>Welcome {{ request.user.username }}</h1>

        <div class="homepage-widecard">

        <div class="card mb-3">
            <img src="/static/concrete/images/card-wide-background.jpg" class="card-img-top" height="100em">
            <div class="card-body">
                <h5 class="card-title">Choose the right concrete for your project</h5>
                <p class="card-text">This section will help customers choose the right concrete for their project</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card mb-3">
            <img src="/static/concrete/images/card-wide-background.jpg" class="card-img-top" height="100em">
            <div class="card-body">
                <h5 class="card-title">Order concrete</h5>                
                <p class="card-text">This section will allow customers to order concrete</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <a href="{% url 'order-form' %}" class="btn btn-primary">Go somewhere</a>
        </div>

        <div class="card mb-3">
            <img src="/static/concrete/images/card-wide-background.jpg" class="card-img-top" height="100em">
            <div class="card-body">
                <h5 class="card-title">Pouring the concrete</h5>
                <p class="card-text">This section will help customers with information about pouring concrete</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

        <div class="card">
            <img src="/static/concrete/images/card-wide-background.jpg" class="card-img-top" height="100em">
            <div class="card-body">
                <h5 class="card-title">Our Partners</h5>
                <p class="card-text">This section contains information about our partners</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>

    </div>

{% endblock content %}