{% extends 'concrete/layout.html' %}
{% block title %}Create a new Order{% endblock title %}

{% block content %}

    <h1 class="order-heading">Create a new order</h1>
    
    <div class="order-form">
        <form action="" method="POST">
            {% csrf_token %}
            
            {% for field in form %}
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">{{ field.label_tag }}</span>
                    {{ field }}
                </div>
            
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    </div>

{% endblock content %}